.places {
  margin: 92px 0 66px;
  display: grid;
  grid-template-rows: 660px  584px  584px  660px 584px;
  grid-column: 1fr;
  row-gap: 80px;
  padding: 0 148px;
}

@media screen and (max-width: 1140px)
 {
  .places {
    padding: 0 48px;
    grid-template-rows: 640px 564px 564px 640px 564px;
  }
}

@media screen and (max-width: 984px) {
  .places {
    grid-template-rows: repeat(5, 1fr);
    padding: 0 24px;
    row-gap: 73px;
  }
}

@media screen and (max-width: 568px) {
  .places {
    padding: 0;
    row-gap: 50px;
    grid-template-rows: min-content;
  }
}